#main-panel {
  position: relative;
}

.panel-header-main, .panel-header-side {
  min-height:3rem;
}

.panel-header-main, .panel-sub-header-main, .code-editor {
  flex: 10;
}

.panel-header-side, .panel-sub-header-side, .sidebar-composer {
  flex: 4;
}

.panel-sub-header-main, .panel-sub-header-side {
  min-height: 3.5rem;
}

.panel-sub-header-main {
  display: flex;
  font-weight: bold;
  color: var(--text-color-inactive);
}

.panel-sub-header {
  background-color: var(--bg-light);
  min-height: inherit;
  align-items: normal;
  padding: 1%;
}

.panel-tab {
  flex: 1;
  text-align: center;
  min-height: inherit;
  justify-content: center;
}

.panel-tab.active-tab {
  background-color: var(--bg-light);
}

.demo-title {
  flex: 1;
}

.demo-list {
  flex: 6;
  display:flex;
  justify-content: space-between;
}

.code-to-blockly-wrap {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.demo-list li + li {
  padding-left: 2vw;
  border-left: 1px solid var(--layout-accent-color);
}

.demo-arrow, .github-icon, .drawer-icon {
  height: 30px;
  width: 30px;
}

.drawer-icon {
  display:none;
}

.blockly-btn-icon {
  height:11px;
  width:16px;
}

.code-panel {
  display: flex;
}

.code-editor {
  background: var(--white);
}

.panel-header-side, .panel-sub-header-side {
  padding-left:20px;
}

.sidebar-composer {
  padding-left:20px;
}

.input-composer {
  padding:1rem;
  margin-top: 1rem;
  border-radius: var(--border-radius);
  background: var(--white);
  box-shadow: 0 3px 27px 0 rgba(0, 0, 0, 0.08);
}

.input-composer ul {
  margin:0 auto;
  max-width: 22vw;
}

.input-composer input {
  width:40px;
  height:30px;
}

.participants li + li {
  margin-top: 1rem;
}

button.plus-btn {
  padding: 0.25rem 0.5rem;
  margin-right:0.5rem;
}

button.minus-btn {
  background: var(--error-color);
  padding: 0.15rem 0.5rem;
  margin-left:0.5rem;
}
button.minus-btn:before {
  content: none;
}
button.minus-btn:hover {
  background: var(--error-color-hover);
}

.participants p {
  line-height: 1.4;
}

.participants em {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.transaction-btns {
  border-top: 1px solid var(--layout-accent-color);
  margin-top: 1rem;
  padding-top: 1rem;
}

.transaction-btns .demo-list li + li {
  padding: 0 1vw;
}

.documentation-panel {
  color: var(--white);
  margin-top: 2rem;
  background: var(--accent-color);
  border-radius: var(--border-radius);
  padding: 2rem;
}

.documentation-panel img {
  display: block;
  max-width: 42px;
}

.documentation-panel hr {
  width: 44px;
  margin: -0.5rem auto 1rem auto;
  opacity:0.7;
}

.analysis-panel {
  width: calc(100% - 4rem);
  bottom: 0;
}

.footer-panel-bg {
  min-height: 16rem;
  padding:2rem;
  background: var(--bg-dark);
  box-shadow: var(--box-shadow);
  display: none;
}

.haskell-editor {
  min-height: 400px;
}